@model List<Case1ResumeProject.Entities.Skill>
@* FFD15C,FF4C60,6C6CE5
 *@
@{
    string color = "";
}
<div class="col-md-6">
    @foreach (var item in Model)
    {
        if (item.SkillLevel >= 80)
        {
            color = "#6C6CE5";
        }
        else if (item.SkillLevel >= 50)
        {
            color = "#FFD15C";
        }
        else
        {
            color = "#FF4C60";
        }
        <!-- skill item -->
        <div class="skill-item">
            <div class="skill-info clearfix">
                <h4 class="float-left mb-3 mt-0">@item.SkillName</h4>
                <span class="float-right">@item.SkillLevel%</span>
            </div>
            <div class="progress">
                <div class="progress-bar data-background" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="@item.SkillLevel" data-color=@color>
                </div>
            </div>
            <div class="spacer" data-height="20"></div>
        </div>
    }
</div>