﻿<header class="mobile-header-1">
	<div class="container">
		<!-- menu icon -->
		<div class="menu-icon d-inline-flex mr-4">
			<button>
				<span></span>
			</button>
		</div>
		<!-- logo image -->
		<div class="site-logo">
			<a href="index.html">
				<img src="/templates/images/logo.svg" alt="Bolby" />
			</a>
		</div>
	</div>
</header>