@model List<Case1ResumeProject.Entities.SocialMedia>

<ul class="social-icons light list-inline mb-0 mt-4">
	@foreach (var item in Model)
	{
		<li class="list-inline-item"><a href="@item.Url"><i class="@item.Icon"></i></a></li>
	}
</ul>
