﻿<!-- Go to top button -->
<a href="javascript:" id="return-to-top"><i class="fas fa-arrow-up"></i></a>

<!-- SCRIPTS -->
<script src="/templates/js/jquery-1.12.3.min.js"></script>
<script src="/templates/js/jquery.easing.min.js"></script>
<script src="/templates/js/jquery.waypoints.min.js"></script>
<script src="/templates/js/jquery.counterup.min.js"></script>
<script src="/templates/js/popper.min.js"></script>
<script src="/templates/js/bootstrap.min.js"></script>
<script src="/templates/js/isotope.pkgd.min.js"></script>
<script src="/templates/js/infinite-scroll.min.js"></script>
<script src="/templates/js/imagesloaded.pkgd.min.js"></script>
<script src="/templates/js/slick.min.js"></script>
@* <script src="/templates/js/contact.js"></script>
 *@
<script src="/templates/js/validator.js"></script>
<script src="/templates/js/wow.min.js"></script>
<script src="/templates/js/morphext.min.js"></script>
<script src="/templates/js/parallax.min.js"></script>
<script src="/templates/js/jquery.magnific-popup.min.js"></script>
<script src="/templates/js/custom.js"></script>